state-machine/codespace-details.asl.json
{
	"StartAt": "is query id present",
	"States": {
		"is query id present": {
			"Type": "Choice",
			"Choices": [
				{
					"And": [
						{
							"Variable": "$.queryParams.id",
							"IsPresent": true
						},
						{
							"Variable": "$.queryParams.uid",
							"IsPresent": true
						}
					],
					"Next": "DynamoDB GetItem"
				},
				{
					"Variable": "$.headers.Authorization",
					"IsPresent": true,
					"Next": "GetUser"
				}
			],
			"Default": "Unauthorized"
		},
		"DynamoDB GetItem": {
			"Type": "Task",
			"Resource": "arn:aws:states:::dynamodb:getItem",
			"Parameters": {
				"TableName": "${CodespaceDBTableName}",
				"Key": {
					"uid": {
						"S.$": "$.queryParams.uid"
					},
					"id": {
						"S.$": "$.queryPrams.id"
					}
				}
			},
			"Next": "Get codespace result"
		},
		"Get codespace result": {
			"Type": "Pass",
			"End": true,
			"Parameters": {
				"status": 200,
				"id.$": "$.Item.id.S",
				"wasm.$": "$.Item.wasm.S",
				"code.$": "$.Item.code.S",
				"js": "${RunnerJs}"
			}
		},
		"Unauthorized": {
			"Type": "Pass",
			"End": true,
			"Parameters": {
				"status": 401
			}
		},
		"GetUser": {
			"Type": "Task",
			"Parameters": {
				"AccessToken.$": "States.ArrayGetItem(States.StringSplit($.headers.Authorization, ' '), 1)"
			},
			"Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:getUser",
			"Catch": [
				{
					"ErrorEquals": [
						"States.ALL"
					],
					"Next": "Unauthorized"
				}
			],
			"Next": "Query"
		},
		"Query": {
			"Type": "Task",
			"Parameters": {
				"TableName": "${CodespaceDBTableName}",
				"KeyConditionExpression": "uid = :usub",
				"ExpressionAttributeValues": {
					":usub": {
						"S.$": "$.UserAttributes[2].Value"
					}
				}
			},
			"Resource": "arn:aws:states:::aws-sdk:dynamodb:query",
			"Next": "Are there codespaces"
		},
		"Are there codespaces": {
			"Type": "Choice",
			"Choices": [
				{
					"Variable": "$.Count",
					"NumericGreaterThan": 0,
					"Next": "Transform data"
				}
			],
			"Default": "No codespaces"
		},
		"No codespaces": {
			"Type": "Pass",
			"Parameters": {
				"status": 200
			},
			"End": true
		},
		"Transform data": {
			"Type": "Map",
			"ItemProcessor": {
				"ProcessorConfig": {
					"Mode": "INLINE"
				},
				"StartAt": "Format json",
				"States": {
					"Format json": {
						"Type": "Pass",
						"End": true,
						"Parameters": {
							"id.$": "$.id.S",
							"code.$": "$.code.S",
							"wasm.$": "$.wasm.S"
						}
					}
				}
			},
			"Next": "Get codespaces result",
			"ItemsPath": "$.Items"
		},
		"Get codespaces result": {
			"Type": "Pass",
			"End": true,
			"Parameters": {
				"status": 200,
				"codespaces.$": "$",
				"js": "${RunnerJs}"
			}
		}
	}
}