state-machine/codespace-details.asl.json
{
	"StartAt": "is query id present",
	"States": {
		"is query id present": {
			"Type": "Choice",
			"Choices": [
				{
					"Variable": "$.queryParams.id",
					"IsPresent": true,
					"Next": "DynamoDB GetItem"
				},
				{
					"Variable": "$.headers.Authorization",
					"IsPresent": true,
					"Next": "GetUser"
				}
			],
			"Default": "Unauthorized"
		},
		"DynamoDB GetItem": {
			"Type": "Task",
			"Resource": "arn:aws:states:::dynamodb:getItem",
			"Parameters": {
				"TableName": "${CodespaceDBTableName}",
				"Key": {
					"id": {
						"S.$": "$.queryParams.id"
					}
				}
			},
			"Next": "Get codespace result"
		},
		"Get codespace result": {
			"Type": "Pass",
			"End": true,
			"Parameters": {
				"status": 200,
				"id.$": "$.Item.id.S",
				"wasm.$": "$.Item.wasm.S",
				"code.$": "$.Item.code.S",
				"js": "${RunnerJs}"
			}
		},
		"Unauthorized": {
			"Type": "Pass",
			"End": true,
			"Parameters": {
				"status": 401
			}
		},
		"GetUser": {
			"Type": "Task",
			"Parameters": {
				"AccessToken": "MyData"
			},
			"Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:getUser",
			"Catch": [
				{
					"ErrorEquals": [
						"States.ALL"
					],
					"Next": "Unauthorized"
				}
			],
			"Next": "BatchGetItem"
		},
		"BatchGetItem": {
			"Type": "Task",
			"Parameters": {
				"RequestItems": {
					"Codespaces": {
						"Keys": [
							{
								"sub": {
									"S.$": "$.UserAttributes[?(@.Name == 'sub')][0].Value"
								}
							}
						]
					}
				}
			},
			"Resource": "arn:aws:states:::aws-sdk:dynamodb:batchGetItem",
			"Next": "Get codespaces result"
		},
		"Get codespaces result": {
			"Type": "Pass",
			"End": true
		}
	}
}