state-machine/create-composable.asl.json
{
	"StartAt": "GetUser",
	"States": {
		"GetUser": {
			"Type": "Task",
			"Parameters": {
				"AccessToken.$": "States.ArrayGetItem(States.StringSplit($.headers.Authorization, ' '), 1)"
			},
			"Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:getUser",
			"Next": "Are all feilds present?",
			"Catch": [
				{
					"ErrorEquals": [
						"States.ALL"
					],
					"Next": "Unauthorized"
				}
			],
			"ResultPath": "$.user"
		},
		"Unauthorized": {
			"Type": "Pass",
			"End": true,
			"Parameters": {
				"status": 401
			}
		},
		"Are all feilds present?": {
			"Type": "Choice",
			"Choices": [
				{
					"And": [
						{
							"Variable": "$.body.code",
							"IsPresent": true
						},
						{
							"Variable": "$.body.id",
							"IsPresent": true
						}
					],
					"Next": "Get codespace"
				}
			],
			"Default": "Fields missing"
		},
		"Fields missing": {
			"Type": "Pass",
			"End": true,
			"Parameters": {
				"status": 400
			}
		},
		"Get codespace": {
			"Type": "Task",
			"Resource": "arn:aws:states:::dynamodb:getItem",
			"Parameters": {
				"TableName": "${CodespaceDBTableName}",
				"Key": {
					"id": {
						"S.$": "$.body.id"
					}
				}
			},
			"Next": "Make object for comparision",
			"Catch": [
				{
					"ErrorEquals": [
						"States.ALL"
					],
					"Next": "Codespace not found"
				}
			],
			"ResultPath": "$.codespace"
		},
		"Make object for comparision": {
			"Type": "Pass",
			"Next": "Is author and user same",
			"Parameters": {
				"user_sub.$": "$.user.UserAttributes[?(@.Name == 'sub')][0].Value",
				"author_sub.$": "$.codespace.sub"
			},
			"ResultPath": "$.comparision"
		},
		"Is author and user same": {
			"Type": "Choice",
			"Choices": [
				{
					"Variable": "$.comparision.user_sub",
					"StringEqualsPath": "$.comparision.author_sub",
					"Next": "Run Composer"
				}
			],
			"Default": "Unauthorized"
		},
		"Codespace not found": {
			"Type": "Pass",
			"End": true,
			"Parameters": {
				"status": 404
			}
		},
		"Run Composer": {
			"Type": "Task",
			"Resource": "arn:aws:states:::ecs:runTask",
			"Parameters": {
				"Overrides": {
					"ContainerOverrides": [
						{
							"Name": "ComposerContainer",
							"Command.$": "States.Array('/usr/local/bin/app', $.body.id, $.body.code)",
							"Environment": [
								{
									"Name": "S3_BUCKET",
									"Value": "${Bucket}"
								}
							]
						}
					]
				},
				"Cluster": "${ComposerCluster}",
				"TaskDefinition": "${ComposerTaskDefinition}",
				"CapacityProviderStrategy": [
					{
						"CapacityProvider": "FARGATE_SPOT",
						"Weight": 1
					}
				],
				"NetworkConfiguration": {
					"AwsvpcConfiguration": {
						"AssignPublicIp": "ENABLED",
						"Subnets": [
							"subnet-009a7e8dade2fb429",
							"subnet-0aab33f871ad44ef1",
							"subnet-0a84d51ee5579e0e4"
						],
						"SecurityGroups": [
							"sg-0da1ba2e54e84b3a7"
						]
					}
				}
			},
			"Next": "Success"
		},
		"Success": {
			"Type": "Pass",
			"End": true,
			"Parameters": {
				"status": 200
			}
		}
	}
}
