state-machine/create-composable.asl.json
{
	"StartAt": "Are all feilds present?",
	"States": {
		"Are all feilds present?": {
			"Type": "Choice",
			"Choices": [
				{
					"And": [
						{
							"Variable": "$.code",
							"IsPresent": true
						},
						{
							"Variable": "$.id",
							"IsPresent": true
						}
					],
					"Next": "Get codespace"
				}
			],
			"Default": "Fields missing"
		},
		"Fields missing": {
			"Type": "Pass",
			"Result": {
				"status": 400,
				"body": {
					"error": "fields missing"
				}
			},
			"End": true
		},
		"Get codespace": {
			"Type": "Task",
			"Resource": "arn:aws:states:::dynamodb:getItem",
			"Parameters": {
				"TableName": "${CodespaceDBTableName}",
				"Key": {
					"id": {
						"S.$": "$.id"
					}
				}
			},
			"Next": "Run Composer",
			"Catch": [
				{
					"ErrorEquals": [
						"States.ALL"
					],
					"Next": "Codespace not found"
				}
			],
			"ResultPath": null
		},
		"Codespace not found": {
			"Type": "Pass",
			"End": true,
			"Result": {
				"status": 400,
				"body": {
					"error": "codespace not found"
				}
			}
		},
		"Run Composer": {
			"Type": "Task",
			"Resource": "arn:aws:states:::ecs:runTask",
			"Parameters": {
				"LaunchType": "FARGATE",
				"Overrides": {
					"ContainerOverrides": [
						{
							"Name": "ComposerContainer",
							"Command.$": "States.Array('/usr/local/bin/app', $.id, $.code)",
							"Environment": [
								{
									"Name": "S3_BUCKET",
									"Value": "${Bucket}"
								}
							]
						}
					]
				},
				"Cluster": "${ComposerCluster}",
				"TaskDefinition": "${ComposerTaskDefinition}",
				"NetworkConfiguration": {
					"AwsvpcConfiguration": {
						"AssignPublicIp": "ENABLED",
						"Subnets": [
							"subnet-009a7e8dade2fb429",
							"subnet-0aab33f871ad44ef1",
							"subnet-0a84d51ee5579e0e4"
						],
						"SecurityGroups": [
							"sg-0da1ba2e54e84b3a7"
						]
					}
				}
			},
			"End": true
		}
	}
}