state-machine/new-codespace.asl.json
{
	"StartAt": "GetUser",
	"States": {
		"GetUser": {
			"Type": "Task",
			"Parameters": {
				"AccessToken.$": "States.StringSplit($.headers.Authorization, ' ')"
			},
			"Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:getUser",
			"Next": "Generate UUID",
			"Catch": [
				{
					"ErrorEquals": [
						"States.ALL"
					],
					"Next": "Unauthorized"
				}
			]
		},
		"Generate UUID": {
			"Type": "Pass",
			"Next": "Create new Codespace",
			"Parameters": {
				"uuid.$": "States.UUID()"
			}
		},
		"Create new Codespace": {
			"Type": "Task",
			"Resource": "arn:aws:states:::dynamodb:putItem",
			"Parameters": {
				"TableName": "${CodespaceDBTableName}",
				"Item": {
					"id": {
						"S.$": "$.uuid"
					},
					"sub": {
						"S.$": "$.UserAttributes[?(@.Name == 'sub')][0].Value"
					}
				}
			},
			"Next": "Success",
			"ResultPath": null
		},
		"Success": {
			"Type": "Pass",
			"Parameters": {
				"status": 200,
				"id.$": "$.uuid"
			},
			"End": true
		},
		"Unauthorized": {
			"Type": "Pass",
			"Parameters": {
				"status": 401
			},
			"End": true
		}
	}
}