state-machine/new-codespace.asl.json
{
	"StartAt": "GetUser",
	"States": {
		"GetUser": {
			"Type": "Task",
			"Parameters": {
				"AccessToken.$": "States.ArrayGetItem(States.StringSplit($.headers.Authorization, ' '), 1)"
			},
			"Resource": "arn:aws:states:::aws-sdk:cognitoidentityprovider:getUser",
			"Next": "Generate UUID",
			"Catch": [
				{
					"ErrorEquals": [
						"States.ALL"
					],
					"Next": "Unauthorized"
				}
			]
		},
		"Generate UUID": {
			"Type": "Pass",
			"Next": "Create new Codespace",
			"Parameters": {
				"uuid.$": "States.UUID()"
			},
			"ResultPath": "$.uuid"
		},
		"Create new Codespace": {
			"Type": "Task",
			"Resource": "arn:aws:states:::dynamodb:putItem",
			"Parameters": {
				"TableName": "${CodespaceDBTableName}",
				"Item": {
					"id": {
						"S.$": "$.uuid.uuid"
					},
					"uid": {
						"S.$": "$.UserAttributes[2].Value"
					},
					"code": {
						"S": ""
					},
					"wasm": {
						"S": ""
					}
				}
			},
			"Next": "Success",
			"ResultPath": null
		},
		"Success": {
			"Type": "Pass",
			"Parameters": {
				"status": 200
			},
			"End": true
		},
		"Unauthorized": {
			"Type": "Pass",
			"Parameters": {
				"status": 401
			},
			"End": true
		}
	}
}
